# Build artifacts
_build
*.install
.merlin

# Jenga
*.a
*.build_info.sexp
*.cmi
*.cmt
*.cmti
*.cmx
*.cmxa
*.d
*.deps
*.exe
.files-to-style
*.hg_version.c
*.hg_version.o
inline_tests_runner
*.libdeps
*.ml-gen
*.moduledeps
*.modules
*.o
*.objdeps
*.out
*.pack-order
*.stub.names
